{% extends "base.html" %}

{% block content %}
<h1>Je me présente</h1>
<h2>Je m’apelle Philippe Lemaire.</h2>
<h2>Je fait chanter vos données.</h2>

<p>Je suis un développeur Python et Data-Scientist à Lyon.
    Je travaille actuellement pour <a target="blank_" href="https://datalo.co">datalo.co</a> et <a target="blank_"
        href="https://www.lewagon.com">Le
        Wagon</a>, et je réalise des missions en freelance autour
    de :
<ul>
    <li>l’analyse de données</li>
    <li>l’apprentissage machine</li>
    <li>l’intelligence artificielle</li>
    <li>Le développement d’applications web sur mesure pour manipuler et présenter vos données</li>
</ul>
</p>

<a href="{% url 'contactme:index' %}" type="button" class="btn btn-outline-success">Contactez-moi</a>

{% endblock %}