{% extends "base.html" %}
{% block title %}{{ project.title|title }}{% endblock %}
{% block content %}

<h1>{{ project.title|title }}</h1>

{% if project.cover_img %}
<img style="margin-bottom: 20px" src="{{ project.cover_img.url }}" class="card-img-top" alt="{{ project.title }}">
{% endif %}

{{ project.formatted_markdown|safe}}

<h3>Liens :</h3>
<p>Étiquettes :
<ul>
    {% for tag in project.tags.all %}
    <li><a href="{% url 'folio:tag_detail' tag.slug %}">{{tag.name}}</a></li>
    {% endfor %}
</ul>
<a target="blank_" href="{{ project.git_repo }}" class="btn btn-outline-dark">GitHub</a>
{% if project.deployed_url %}
<a target=" blank_" href="{{ project.deployed_url }}" class="btn btn-outline-success">Le projet
    déployé</a>
{% endif %}

</p>

{% endblock %}